.search-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 200ms ease-in-out;

  &.with-results {
    top: 50px;
    transform: translateX(-50%);
  }
}

.results {
  width: 80%;
  min-width: 760px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 500ms ease-in-out;
  height: 0;
  overflow: hidden;

  table {
    width: 100%;
  }

  &.visible {
    height: auto;
    top: 125px;
    transform: translateX(-50%);
  }
}
