.data-project-banner {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #767676;
}

.search-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 200ms ease-in-out;

  &.with-results {
    top: 50px;
    transform: translateX(-50%);
  }

}

.results {
  width: 80%;
  max-width: 1020px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 500ms ease-in-out;
  height: 0;
  overflow: auto;

  table {
    width: 100%;
  }

  .font-bold {
    font-weight: 430;
    font-size: 13px;
  }

  .search-item-control {
    width: 220px;
  }

  &.visible {
    height: auto;
    transform: translateX(-50%);
    top: 406px;

    @media only screen and (min-width: 960px){
      top: 190px;
    }
  }
}
